:root{
  --color-blue:#0D5F9A
}
body{

  background: #F5F5F5;
}
.App {
  font-style: Montserrat;
  padding:0;
  margin:0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bottom-sm{
  bottom:-40px;
}
.w-h-xxs{
  width:25px;
  height:25px;
}
.text-xxs{
  font-size:10px
}
.drawer {
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
.drawer-close{
  left:-30px;
}
.drawer-open{
  left:50%;
}
.drawer > * {
  margin-right: 8px;
  font-size: x-large;
}


